@use "./../../../styles/utils/index" as u;

.container {
    margin: 0 auto;

    &>form>div {
        margin-bottom: u.rem(20);


    }

    @include u.mqw-from(tablet_p) {
        width: 70%;
    }

    @include u.mqw-from(tablet_l) {
        width: 60%;
    }

    @include u.mqw-from(desktop_s) {
        width: 45%;

        &>form>div {
            margin-bottom: u.rem(26);

            &.push {
                margin-bottom: u.rem(98);
            }
        }
    }

    @include u.mqw-from(desktop) {
        &>form>div {
            margin-bottom: u.rem(34);

            &.push {
                margin-bottom: u.rem(130);
            }
        }
    }

    @include u.mqw-from(hr) {
        &>form>div {
            margin-bottom: u.px_to_vw(34);

            &.push {
                margin-bottom: u.px_to_vw(130);
            }
        }
    }
}

.left-content-heading {
    color: u.color(neutral-white);
    line-height: 1.5;
}

$padding-top: 100;
$inner-content-heading-space: 40;
$gap: 30;

.main {
    // background-color: u.color(neutral-light-gray);
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}

.container {
    // background-color: red;
    margin: 0 auto;
    width: 100%;
}

.step-label-container {
    display: flex;
    flex-direction: column;
    gap: u.rem($gap);
}

.content {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;

    // &>* {
    //     padding: u.rem(40);
    // }

    &>.left-content {
        position: relative;
        width: 100%;

        display: none;
        background-color: u.color(primary-marine-blue);
        // padding-top: u.rem($padding-top);
        margin: u.rem(20);
        border-radius: u.rem(10);
        flex: 1 1 50%;

        @include u.mqw-from(tablet_l) {
            display: block;
            // padding-top: u.rem(150);
        }
    }

    &>.right-content {
        padding: u.rem(40);
        padding-top: u.rem($padding-top);
        background-color: white;
        flex: 1 0 50%;
    }
}

.icon {
    @include u.square(24);
}

.left-content-headings {
    margin-bottom: u.rem($inner-content-heading-space);
}

.right-content-headings {
    margin-bottom: u.rem($inner-content-heading-space);
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: u.rem($gap);
    margin-bottom: u.rem($gap);

    &>* {
        width: 60%;
    }
}

.button-wrapper {
    display: flex;
    min-width: auto;
    // justify-content: flex-end;
    gap: u.rem($gap);
}

.input-group {
    display: flex;
    gap: u.rem($gap);

    &>* {
        flex: 1 0;
    }
}

.heading-text {
    width: 65%;
}

.login-button {
    width: 100%;
    margin-bottom: u.rem(30);
}

.desktop-heading {
    text-align: left;
    margin-bottom: u.rem(30);
}

.horizontal-line {
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-bottom: u.rem(30);

    &>.line {
        flex: 1 0 auto;
    }
}

.border-text {
    flex: 0 0 auto;
}

.button-with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: u.rem(20);
    width: 100%;
    margin-bottom: u.rem(30);

    &>:nth-child(2) {
        flex-grow: 1;
        color: inherit;
        font-size: inherit;
        line-height: inherit;
        font-family: inherit;
        font-weight: inherit;
    }
}

.button-icon {
    @include u.square(25);

    @include u.mqw-from(desktop) {
        @include u.square(32);
    }

    @include u.mqw-from(hr) {
        @include u.square(32, vw);
    }
}


.form-container {
    margin-bottom: u.rem(30);
}

.create-account-link {
    display: block;
    text-align: center;
    text-decoration: none;
}

.create-account-link:hover {
    text-decoration: underline;
}

.background-image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.background-image {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
}

.left-content-text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    // padding-top: u.rem(40);
    padding: u.rem(40) u.rem(30);
    // transform: translate(-50%, -50%);
    // color: white;   
}

.left-content-img-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}